extends layout

block content
  h1 文件上传
  p 选择一个文件上传
  form(id='form', action='/upload', method='post', enctype="multipart/form-data", onsubmit='return formSubmit()', target='_blank')
    input(id='file', type='file', name='content')
    input(type='submit', value='上传')
  div
    h2 已上传文件列表
    ul
      each item in files
       li= item
  script(src='/javascripts/index.js')